# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.DrakesGamesUnityUtilities.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\UnityProjectRepos\DrakesGamesUtilities\DrakesGamesUnityUtilities\DrakesGamesUnityUtilities\.idea\.idea.DrakesGamesUnityUtilities\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
